// Import _navbar.sass and compile just one file.
@import navbar

//Example of using variables in SASS
/* Colours and Text size, decoration */

$font-stack:    Helvetica, sans-serif
$text-color: #FFFFFF
$bg-color: rgba(150, 56, 70, 0.3)

h1
  font-size: 60pt
  z-index: 3

body, a
  font: 100% $font-stack
  color: $text-color

nav
  background-color: change-color($bg-color,
  $red: null, $green: null, $blue: null,
  $hue: null, $saturation: null, $lightness: null,
  $alpha: 0.2)
  text-align: center

// Use Extend to share properties
%box-style
  border: none
  width: 250px
  height: 250px
  border-radius: 30%
  

//Example of using mixins to add vendor prefixes
/* Add vendor prefixes to tranform */

=transform($property)
  -webkit-transform: $property
  transform: $property


  

/* Bg image controls */
.bg-image
  position: relative

.bg-image img
  display: block
  width: 100%
  max-width: 1200px /* corresponds to max height of 450px */
  margin: 0 auto;

.bg-image h1
  position: absolute
  top: 30%
  left: 15%
  transform: translateY(-50%)

.boxes
  position: absolute

.box
  +transform(rotate(45deg))
  @extend %box-style
  position: absolute
  background-color: $bg-color
  top: 15%
  left: 10%


.box2
  +transform(rotate(45deg))
  @extend %box-style
  position: absolute
  top: 18%
  left: 22%
  background-color: change-color($bg-color,
  $red: null, $green: null, $blue: null,
  $hue: null, $saturation: null, $lightness: null,
  $alpha: 0.2)
  z-index: 2